.share{
    width: 100%;
    border-radius: 10px;
    box-shadow:0px 1px 6px 0px rgba(0,0,0,0.81)
}
.shareWrapper{
    padding: 10px;
}
.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareInput{
    border: none;
    width: 80%;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shareOptions{
    display: flex;
    margin-left: 20px;
}
.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}
.shareoptionText{
    font-size: 14px;
    font-weight: 500;
}
.shareBtn{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: green;
    font-weight: 500;
    color: white;
    margin: 20px;
    cursor: pointer;
}
.shareImgContainer{
    padding-top: 0 20px 10px 10px;
    position: relative;
}
.shareImg{
    width: 100%;
    object-fit: cover;
}
.shareCancelImg{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: .7;
}